
<div{{ attributes }}>
  <div class="browser">
    {{ browser.active_directory }}
    <div class="browser--header">
      <div class="browser-toolbar">
        <div class="browser-toolbar__item"><a href="" class="button button--small" id="browser-add-media"><i class="fas fa-upload"></i> {{ "Add media"|t }}</a></div>
        <div class="browser-toolbar__item"><a href="" class="button button--small is-disabled" id="browser-edit-media">{{ "Quick edit media(s)"|t }}</a></div>
        {% if media_translation_enabled %}
          <div class="browser-toolbar__item"><a href="" class="button button--small is-disabled" id="browser-translate-media">{{ "Show translations in new tab"|t }}</a></div>
        {% endif %}
        <div class="browser-toolbar__item"><a href="" class="button button--small is-disabled" id="browser-delete-media">{{ "Delete media"|t }}</a></div>
        <div class="browser-toolbar__item-right"><input type="text" id="browser-filter-name"  class="form-element" placeholder="{{ 'Filter current directory'|t }}"/></div>
      </div>
    </div>
    <div class="browser--body">
      <div class="browser--tree">
        <div id="jstree-container"></div>
      </div>
      <div class="browser--listing"></div>
    </div>
    <div class="browser--footer">
      <div class="browser-status"></div>
      {{ browser.actions }}
    </div>
  </div>
</div>
