{# Prepare attributes #}
{% set prefix = 'quicklink-card' %}

{% set classes = [
  'section',
  prefix,
  prefix ~ '--' ~ variant,
] %}

<div {{ attributes.addClass(classes) }}>
  {% if link_title %}
    <a href="{{ link_url }}" class="flex justify-center items-center text-center w-full h-full font-medium">
      {% if icon %}
        <span class="icon">{{ icon }}</span>
      {% endif %}
      {{ link_title }}
    </a>
  {% endif %}
  {% if links %}
    <ul class="links">
      {% for link in links %}
        <li class="anchor-link">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
