{% set prefix = 'breadcrumb' %}
{% set classes = [
  prefix,
  variant ? prefix ~ '--' ~ variant : ''
] %}

{% set attributes = attributes
    .setAttribute('role', 'navigation')
    .setAttribute('aria-labelledby', 'system-breadcrumb')
    .addClass(classes)
%}

{% if items %}
  <nav{{ attributes }}>
    <h2 id="system-breadcrumb" class="sr-only sr-only-focusable">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
      {% for item in items %}
        <li class="breadcrumb-item">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
