{# Prepare attributes #}
{% set prefix = 'collection' %}

{% set classes = [
  prefix,
  prefix ~ '--' ~ variant,
  prefix ~ '--' ~ card_type|clean_class,
  more_link|render ? 'has-more-link' : '',
  'overflow-hidden'
] %}

{% set collection_classes = [
  'content',
  'has-' ~ columns ~ '-columns',
  'layout--' ~ column_ratio,
  'columns',
  prefix ~ '--' ~ 'content-wrapper'
] %}

{% set attributes = attributes.addClass(classes) %}

{% set coll_attributes = create_attribute() %}
{% set coll_attributes = coll_attributes.addClass(collection_classes) %}

{% set content %}
  <div class="container">
    {# Title #}
    {% if title and not hide_title %}
      <div class="{{ prefix }}__title">
        <h2>{{ title }}</h2>

        {% if more_link|render %}
          <div class="more-link d-none d-lg-block">{{ more_link }}</div>
        {% endif %}
      </div>
    {% endif %}

    {# Summary #}
    {% if summary %}
      <div class="{{ prefix }}__summary important-paragraph">{{ summary }}</div>
    {% endif %}

    {# Content #}
    {% if content|render %}
      <div class="{{ prefix }}__content">{{ content }}</div>
    {% endif %}

    {% if more_link|render %}
      <div class="more-link d-block d-lg-none" data-aos="fade-up" data-aos-once="true">{{ more_link }}</div>
    {% endif %}

    {# Cards #}

    <div class="{{ prefix }}--container">
      <div {{ coll_attributes }}>
        {% for card in cards %}
          {# For associative arrays #}
          {% if card.title is not empty %}
            {{ pattern('card', card) }}
            {# For views rows #}
          {% elseif card.content %}
            {{ card.content }}
          {% else %}
            {{ card }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>

    {# CTA #}
    {% if cta|render %}
      <div class="{{ prefix }}__cta">{{ cta }}</div>
    {% endif %}
  </div>
{% endset %}

{{ pattern('section', {
  title:    title,
  content:  content,
  attribs:  attributes,
}, 'default') }}
