{% set prefix = 'accordion-item' %}
{% set classes = [
  prefix,
  prefix ~ '--' ~ variant,
] %}

{% set anchor = title|trim|clean_id %}

<div{{ attributes.addClass(classes) }} id="ac--{{ anchor }}">
  <div id="collapse__{{ item_id }}" class="collapse {{ prefix }}__content" aria-labelledby="heading" data-parent="#heading__{{ item_id }}">
    <div class="content">{{ content }}</div>
  </div>
</div>
