{# Prepare attributes #}
{% set prefix = 'icon-cards' %}

{% set classes = [
  'section',
  prefix,
  'md:grid md:grid-cols-2 mt-5',
] %}

<h3>{{ title|t }}</h3>
<div {{ attributes.addClass(classes) }}>
  {% for item in items %}
    {% if item.value == '1' %}
      <div class="icon-card flex py-2 px-2 items-center icon-{{ item.name|clean_class }}">
        {{
          pattern('icon_card_icon', {
            name: item.name|clean_class,
          })
        }}
        <span class="text ml-5 z-10">
          {{ item.title }}
        </span>
      </div>
    {% endif %}
  {% endfor %}
</div>
