{# Prepare attributes #}
{% set classes = [
  'graph-card',
  title|clean_class,
  'mw-100 my-4',
  'md:flex'
] %}

<div {{ attributes.addClass(classes) }}>
  {% if main_link or extra_text or items %}
    <div class="left-wrapper md:mr-8">
      {% if main_link %}
        <h4 class="main-link">{{ main_link }}</h4>
      {% endif %}

      {% if extra_text %}
        <div class="extra-text mb-11 text-sm text-gray font-normal">{{ extra_text }}</div>
      {% endif %}

      {% if items %}
        <ul class="items">
          {% for item in items %}
            <li>
              {{ item }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
  <div class="right-wrapper w-96 max-w-full flex-shrink-0">
    {% if graph is iterable %}<div class="title field__label mb-4">{{ title|t }}</div>{% endif %}
    <div class="graph flex items-end w-full mt-2 h-40 px-10 border border-solid border-gray-light">
      {% if graph is iterable %}
        {% for item in graph %}
          <span class="{{ item.value }} flex-grow mx-3 graph-item relative h-40"></span>
        {% endfor %}
      {% else %}
        <div class="flex items-center h-full w-full">
          <h4>{{ graph }}</h4>
        </div>
      {% endif %}
    </div>
    <div class="graph-axis-labels flex px-10">
      {% for item in graph %}
        <span class="text-xs pt-2 inline-block w-1/5 text-center">{{ item.title }}</span>
      {% endfor %}
    </div>
  </div>
</div>
