{% set prefix = 'text-cta' %}

{% set classes = [
  prefix,
  prefix ~ '--' ~ variant,
  additionalClass
] %}

{% if title %}
  {% set anchor = title|trim|clean_id %}
  {% set attributes = attributes.addClass(classes).setAttribute('id','ts--' ~ anchor) %}
{% else %}
  {% set attributes = attributes.addClass(classes) %}
{% endif %}

{% set content %}
  {% if title %}
    <div class="title">
      <h2>{{ title }}</h2>
    </div>
  {% endif %}

  {% if date %}
    <div class="date">{{ date }}</div>
  {% endif %}

  {% if content|render %}
    <div class="content">{{ content }}</div>
  {% endif %}

  {% if cta|render %}
    <div class="cta">{{ cta }}</div>
  {% endif %}
{% endset %}

{{ pattern('section', {
  content     : content,
  attribs     : attributes,
}, 'default') }}
