{% set prefix = 'callout-card' %}
{% set classes = [
  prefix,
  prefix ~ '--' ~ variant,
  'bg-alert-background',
] %}

{% set attributes = attributes.addClass(classes).setAttribute('data-aos', 'fade-up').setAttribute('data-aos-once', 'true') %}

{% set content %}
  <div class="{{ prefix }}__content container w-full px-5 py-6 text-alert-text">
    <div class="{{ prefix }}__content-wrapper flex gap-5">
      {% if icon %}
        <div class="icon">
          {{ icon }}
        </div>
      {% endif %}

      <div class="content">
        <div class="title text-lg font-medium mb-2">{{ title }}</div>

        {% if content %}
          <div class="text">{{ content }}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endset %}

{{ pattern('section', {
  content     : content,
  attribs     : attributes,
}, 'default') }}
