{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}


    <div class="accordion-item">
        <div class="accordion-header" role="tab" id="accordion-item--header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item--body{{ paragraph.id() }}" aria-expanded="false" aria-controls="accordion-item--body{{ paragraph.id() }}">
              {{ paragraph.field_section_title.value|raw }}
            </button>
        </div>
       <div id="accordion-item--body{{ paragraph.id() }}" class="accordion-collapse collapse" aria-labelledby="accordion-item--body{{ paragraph.id() }}" style="">
        <div class="accordion-body">
        {{ paragraph.field_section_description.value|raw }}
        <p>
        <strong>{{ 'Email'|t }}: </strong>
        <a href="mailto:{{ paragraph.field_section_email.value|raw }}">
        {{ paragraph.field_section_email.value|raw }} </a>
        <br>
        <strong>{{ 'Phone'|t }}: </strong>
        <a href="tel:{{ paragraph.field_section_telephone.value|raw }} ">
        {{ paragraph.field_section_telephone.value|raw }} </a>
        <br>
        <strong>{{ 'Toll-free phone'|t }}: </strong>
        <a href="tel:{{ paragraph.field_toll_free_phone.value|raw }}">
        {{ paragraph.field_toll_free_phone.value|raw }} </a>
        <strong>{{ 'extension'|t }} </strong>
        {{ paragraph.field_toll_free_phone_extension.value|raw }}
        <br>
        <strong>{{ 'Fax number'|t }}: </strong>
        <a href="tel:{{ paragraph.field_section_fax_number.value|raw }}">
        {{ paragraph.field_section_fax_number.value|raw }} </a>
        <br>
        {% if paragraph.field_staff_directory.get(0).getUrl().toString() is not empty %}
        <a href="{{ paragraph.field_staff_directory.get(0).getUrl().toString() }}">
        {{ 'Staff directory'|t }} </a>
        {% endif %}
        </p>
        </div>
        </div>
    </div>
