{#
/**
 * @file
 * Theme override for a field.
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    not display_items_wrapper_tag ? 'field__items'
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{% block field %}
{%- if display_field_tag ~%}
  <{{ field_tag|default('div') }}{{ attributes.addClass(classes) }}>
{%- endif -%}
{%- if not label_hidden -%}
  {%- block field_label ~%}
    {% if display_label_tag -%}<{{ label_tag|default('div') }}{{ title_attributes.addClass(title_classes) }}>{%- endif -%}
    {%- block field_label_value -%}
      {{  label  }}
    {%- endblock field_label_value -%}
    {%- if display_label_tag -%}
      </{{ label_tag|default('div') }}>
    {%- endif -%}
  {%- endblock field_label -%}
{%- endif -%}
{%- block field_items -%}
  {% if display_items_wrapper_tag ~%}
    <{{ field_items_wrapper_tag|default('div') }}{{ field_items_wrapper_attributes.addClass('field__items') }}>
  {%- endif -%}
  <div class="yukon-accordion">
    <div class="yukon-accordion__buttons">
      <button class="yukon-accordion__expand">
        <i class="fa fa-plus-square" aria-hidden="true"></i> {{ 'Expand all'|t }}
      </button>
      <button class="yukon-accordion__collapse">
        <i class="fa fa-minus-square" aria-hidden="true"></i> {{ 'Collapse all'|t }}
      </button>
    </div>
  </div>
  {{ pattern('accordion', {items: items}) }}
  {%- if display_items_wrapper_tag ~%}
    </{{ field_items_wrapper_tag|default('div') }}>
  {%- endif -%}
{%- endblock field_items -%}
{% if display_field_tag ~%}
  </{{ field_tag|default('div') }}>
{%- endif -%}
{% endblock field %}
