{#
/**
 * @file
 * Theme for "Group by root" formatter.
 *
 * Available variables:
 * - id: The ID of a root term.
 * - title: Title of a group.
 * - terms: Children terms.
 *
 * @see cshs_theme()
 *
 * @ingroup themeable
 */
#}
<div class="cshs-term-group">
  <div class="cshs-term-group__title" data-id="{{ id }}">
     {{ title }}
  </div>

  {% if terms is not empty %}
    <ul class="cshs-term-group__terms">
      {% for term in terms %}
        <li class="cshs-term-group__term" data-id="{{ term.id }}" data-parent="{{ term.parent }}">
          {{ term.label }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
